org_maint_ui_mvc/Service References/org_maint_service_proxy/Org_maint_service_api3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/org_maint_services.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/org_maint_services.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Contributor">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContributorID" type="xs:int" />
      <xs:element minOccurs="0" name="ContributorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConvertedAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateDeposited" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateReceived" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OriginalCurrencyAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contributor" nillable="true" type="tns:Contributor" />
</xs:schema>