org_maint_ui_mvc/Service References/org_maint_service_proxy/Org_maint_service_api.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58778/Org_maint_service_api.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/org_maint_services" />
  <xs:import schemaLocation="http://localhost:58778/Org_maint_service_api.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/org_maint_services.Model" />
  <xs:element name="GetBudgetStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBudgetStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/org_maint_services" minOccurs="0" name="GetBudgetStatusResult" nillable="true" type="q1:BudgetStatusContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBudgetHistory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBudgetHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/org_maint_services" minOccurs="0" name="GetBudgetHistoryResult" nillable="true" type="q2:ArrayOfBudgetHistoryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/org_maint_services" minOccurs="0" name="GetEntityStatusResult" nillable="true" type="q3:EntitySummaryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContributorList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContributorListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/org_maint_services" minOccurs="0" name="GetContributorListResult" nillable="true" type="q4:ArrayOfContributorContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitiesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntitiesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/org_maint_services" minOccurs="0" name="GetEntitiesListResult" nillable="true" type="q5:ArrayOfEntityBudgetPriorityContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContributor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/org_maint_services.Model" minOccurs="0" name="contributor" nillable="true" type="q6:Contributor" />
        <xs:element minOccurs="0" name="returnList" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContributorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/org_maint_services" minOccurs="0" name="AddContributorResult" nillable="true" type="q7:ArrayOfContributorContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllocateFunds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fundsForAllocation" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllocateFundsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/org_maint_services" minOccurs="0" name="AllocateFundsResult" nillable="true" type="q8:EntitySummaryContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateTestData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateTestDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateTestDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>